{% extends 'base/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block navbar %} {% include 'base/navbar.html' %} {% endblock %}
{% block content %}
<section class="index-content">
    <div class="card">
        <div class="card-header">
            <h1>Administrar reserva libros</h1>
        </div>
        <div class="card-body">
            <table class="table table-striped table-dark text-light text-center">
                <thead>
                    <tr>
                        <th scope="col">ALUMNO</th>
                        <th scope="col">LIBRO</th>
                        <th scope="col">ACCION</th>
                    </tr>
                </thead>
                <tbody>
                    {% if reserva_libros %}
                        {% for reserva_libro in reserva_libros %}
                            <tr>
                                <td>{{ reserva_libro.id_alumno_id }}</td>
                                <td>{{ reserva_libro.id_libro_id }}</td>
                                <td>
                                    <!-- <a class="btn btn-primary" href="/reserva_libro/editar/{{ reserva_libro.id }}/" role="button">Editar</a> -->
                                    <a class="btn btn-danger" href="/reserva-libro/eliminar/{{ reserva_libro.id }}/" role="button">Eliminar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <h1>No hay registros de reserva libros</h1>
                    {% endif %}
                </tbody>
            </table>
            <div>
                <a class="btn btn-success" href="/reserva-libro/agregar/" role="button">Agregar</a>
            </div>
        </div>
    </div>
</section>
{% endblock%}