{% extends 'base/base.html' %}
{% load static %}

{% block title %}Send Email{% endblock %}

{% block navbar %} {% include 'base/navbar.html' %} {% endblock %}
{% block content %}
<section class="index-content">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Notificación de envio de correo</h1>
            </div>
            <div class="card-body">
                {% if estado == 'True' %}
                    <h3>El Email ha sido enviado con exito!</h3>
                {% else %}
                    <h3>Ha ocurrido un problema enviando el correo</h3>
                {% endif %}
                <br>
                <a class="btn btn-primary" href="/finanzas/">Aceptar</a>
            </div>
        </div>
    </div>
</section>
{% endblock%}